<form action="/auth/log-in" method="post">
    <label for="username">Username</label>
    <input id="username" name="username">

    <label for="password">Password</label>
    <input id="password" name="password">

    <button>Sign In</button>
</form>